@font-face {
  font-family: Be-i;
  src: local("Be-i"), url(./fonts/BeVietnam-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Be-m;
  src: local("Be-m"), url(./fonts/BeVietnam-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Be-l;
  src: local("Be-l"), url(./fonts/BeVietnam-Light.ttf) format("truetype");
}
@font-face {
  font-family: Be-li;
  src: local("Be-li"), url(./fonts/BeVietnam-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: Be-b;
  src: local("Be-b"), url(./fonts/BeVietnam-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Be-bi;
  src: local("Be-bi"), url(./fonts/BeVietnam-BoldItalic.ttf) format("truetype");
}
body {
  font-family: Be-l;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

li {
  list-style: none !important;
}
a {
  color: #fff;
  text-decoration: none;
}
