.wf-issue-container {
	display: flex;
	flex-flow: row;
	position: relative;
	justify-content: space-between;
}
.wf-issue-container > .col:first-child {
	max-width: 400px;
	min-width: 400px;
	width: 400px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: max-content;
}
.wf-issue-container > .col:last-child {
	width: calc(100% - 450px);
}
.prioritize.low {
	color: #13b16a;
}
.prioritize.medium {
	color: #ffc700;
}
.prioritize.high {
	color: #ff8a00;
}
.prioritize.highest {
	color: #c93131;
}
.issue-main-infomation {
	width: 100%;
	background: linear-gradient(
		211.3deg,
		#2f36db -4.49%,
		rgba(47, 54, 219, 0) 102.4%
	);
	backdrop-filter: blur(54px);
	border-radius: 10px;
	padding: 19px 24px 27px;
	margin-bottom: 30px;
}
.issue-main-infomation .issue-name {
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	font-weight: 400;
	margin: 16px 0 36px;
}
.issue-main-infomation .issue-action {
	justify-content: space-between;
}
.issue-main-infomation .issue-action .issue-action__item {
	background: #1d1d42;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 4px 20px;
	cursor: pointer;
}
.issue__item {
	width: 100%;
	background: linear-gradient(
		270deg,
		rgba(27, 26, 67, 0.1) -3.96%,
		rgba(111, 45, 126, 0.1) 102.95%
	);
	backdrop-filter: blur(40px);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 14px 24px 20px;
	color: #fff;
}
.issue__item + .issue__item {
	margin-top: 20px;
}
.issue__item .title {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 30px;
}
.issue__item .issue__item-box {
	width: 100%;
	display: flex;
}
.issue__item .user {
	align-items: top;
	font-weight: 600;
	width: max-content;
}
.issue__item .user-avatar {
	width: 18px;
	height: 18px;
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin-right: 7.72px;
	margin-top: 3px;
}
.issue__item .user-avatar img {
	width: 100%;
	height: 100%;
	object-position: center;
}
.issue__item .user .user-name {
	width: 160px;
}
.issue-main-detail .issue-detail-box {
	flex-flow: column;
}
.issue-main-detail .issue-detail-box .issue-detail__item {
	font-weight: 300;
	font-size: 15px;
	width: 100%;
}
.issue-main-detail .issue-detail-box .issue-detail__item + .issue-detail__item {
	margin-top: 12px;
}
.issue-main-detail .issue-detail-box .issue-detail__item .issue-detail__label {
	width: 90px;
}
.issue-main-detail .issue-detail-box .issue-detail__item .issue-detail__data {
	margin-left: 10px;
}
.issue-main-detail
	.issue-detail-box
	.issue-detail__item
	.issue-detail__data.type {
	display: flex;
	align-items: flex-end;
}
.issue-main-detail
	.issue-detail-box
	.issue-detail__item
	.issue-detail__data.type
	.wf--item-type {
	width: 16px;
	height: 16px;
	position: relative;
	bottom: 2px;
	margin-right: 5px;
}
.issue-main-description,
.issue-main-comment,
.issue-main-history {
	padding: 14px 9px 20px 24px;
}
.issue-main-description .text-editor {
	width: 100%;
}

.issue-main-description .text-editor .ql-blank {
	width: 100%;
}
.issue-main-description .text-editor .ql-blank {
	width: 100%;
}
.issue-main-description .text-editor .ql-blank::before {
	color: rgba(250, 250, 250, 0.733);
	left: 0;
}
.issue-main-description .quill,
.issue-main-description .quill .ql-container {
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
}
.issue-main-description .quill .ql-container .ql-editor {
	height: max-content;
	min-height: 500px;
	max-height: 500px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	overflow-y: auto;
	padding-right: 15px;
}
.issue-main-description .quill .ql-container.ql-disabled .ql-editor {
	height: 110px;
	min-height: 110px;
	max-height: 110px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	overflow-y: auto;
}
.issue-main-attachment {
}
.issue-main-attachment .issue-file-box {
	flex-wrap: wrap;
}
.issue-main-attachment .issue-file-box .issue-file__item {
	margin-right: 13px;
	cursor: pointer;
}
/* .issue-main-attachment .issue-file-box .issue-file__item .user-avatar {
  margin-right: 5px;
} */
.issue-main-attachment .issue-file-box .issue-file__item img {
	width: 24px;
	margin-right: 5px;
}

.issue-main-comment {
}
.issue-main-comment .issue-comment-box,
.issue-main-history .issue-history-box {
	max-height: 300px;
	overflow-y: scroll;
}
.issue-main-comment .issue-comment__item,
.issue-main-history .issue-history__item {
	display: flex;
	flex-flow: row;
	font-size: 15px;
}
.issue-main-comment .issue-comment__item + .issue-comment__item,
.issue-main-history .issue-history__item + .issue-history__item {
	margin-top: 9px;
}

.eb-scroll::-webkit-scrollbar {
	width: 5px;
	display: block !important;
	background: transparent;
	border-radius: 5px;
}
.eb-scroll::-webkit-scrollbar-track {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.eb-scroll::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #fff;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
	/* border: 3px #1d1d42 solid; */
}
.issue-main-comment .issue-send-box {
	margin-top: 30px;
}
.issue-main-comment .issue-send-box .issue-comment__item {
	background: #26264e;
	border-radius: 5px;
	border-left: 5px solid #2b30ba;
	width: 100%;
	height: max-content;
}
.issue-main-comment .issue-send-box .issue-comment__item textarea {
	background: #26264e;
	border: none;
	box-shadow: none;
	outline: none;
	resize: none;
	height: auto;
	width: 100%;
	padding: 5px 9px;
	color: #fff;
	font-size: 15px;

	font-weight: 300;
	min-height: 24px;
}

.issue-main-comment .issue-send-box .issue-comment__item textarea::placeholder {
	font-size: 15px;

	font-weight: 300;
	color: #d2d2d9;
}
.issue-main-comment .issue-send-box .issue-comment__item .btn-send-box {
	width: 41px;
	background: linear-gradient(
		211.3deg,
		#2f36db -4.49%,
		rgba(47, 54, 219, 0) 102.4%
	);
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
}
.issue-main-comment
	.issue-send-box
	.issue-comment__item
	.btn-send-box
	.btn-send {
	height: 24px;
}
.issue-main-comment
	.issue-send-box
	.issue-comment__item
	.btn-send-box
	.btn-send
	img {
	height: 100%;
}
