<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="../assets/img/brand/logo.svg" class="navbar-brand-img" alt="..."><span class="admin-hrm">Admin HRM</span>
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="<%= path === '/admin/dashboard' ? 'nav-link active' : 'nav-link' %>"   href="/admin/dashboard">
                  <i class="ni ni-tv-2 text-primary"></i>
                  <span class="nav-link-text">Dashboard</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="<%= path === '/admin/user-information' ? 'nav-link active' : 'nav-link' %>" href="/admin/user-information">
                <i class="ni ni-bullet-list-67 text-default"></i>
                <span class="nav-link-text">User</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="<%= path === '/admin/report-information' ? 'nav-link active' : 'nav-link' %>" href="/admin/report-information">
                <i class="ni ni-collection text-default"></i>
                <span class="nav-link-text">Report</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="<%= path === '/admin/event-information' ? 'nav-link active' : 'nav-link' %>" href="/admin/event-information">
                <i class="ni ni-calendar-grid-58 text-default"></i>
                <span class="nav-link-text">Event</span>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/admin/createUser">
                <i class="ni ni-single-02 text-yellow"></i>
                <span class="nav-link-text">Create user</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/createEvent">
                <i class="ni ni-compass-04 text-primary"></i>
                <span class="nav-link-text">Create event</span>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="/admin/updateUser">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Update user</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/updateEvent">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Update event</span>
              </a>
            </li> -->
          </ul>
          <!-- Divider -->
          <hr class="my-3">
    
          <!-- Navigation -->
      
        </div>
      </div>
    </div>
  </nav>