:root {
  --bodybg: #dcdefe;
  --primary-color: var(--primary);
  --btn: var(--primary);
  --grey: #d6d6d6;
  --placeholder: #969696;
  --white: #fff;
  --text: rgba(224, 224, 224, 1);
  --slider-bg: #eff3ff;
  --btn-hover: rgb(53 181 124);
}
.login-container {
  @apply m-auto flex w-full max-w-[calc(100%-20px)] overflow-hidden
   rounded-[10px] xl:max-w-[1200px];
  background: var(--background-panel);
  border: var(--border);
}
.login-container .logo svg {
  @apply h-10 w-10 fill-[var(--primary-color)];
}
.login-container .login-form {
  @apply box-border flex w-6/12 flex-[1] flex-col items-center p-[50px];
}
.login-container .login-form .login-form-inner {
  @apply w-[95%] max-w-[380px];
}
.login-container .login-form .google-login-button .google-icon svg {
  @apply mr-2.5 flex h-5;
}
.login-container .login-form .google-login-button {
  @apply mx-0 mt-10 mb-5 cursor-pointer text-[color:var(--text)];
  border: var(--border-input);
}
.login-container .login-form .sign-in-seperator {
  @apply relative mx-0 mt-[30px] mb-5 text-center text-[color:var(--placeholder)] after:absolute after:left-0 after:top-2/4 after:z-0 after:h-px after:w-full after:content-[''];
}
.login-container .login-form .sign-in-seperator span {
  @apply relative z-[1] px-2.5 py-0 text-sm text-[color:var(--text)];
  background: var(--background-panel);
}
.login-container .login-form .sign-in-seperator:after {
  background: var(--grey);
}
.login-container .login-form .login-form-group {
  @apply relative mb-5 flex flex-col;
}
.login-container .login-form .login-form-group label {
  @apply mb-2.5 text-sm font-normal text-[color:var(--text)];
}
.login-container .login-form .login-form-group .login-input-group {
  @apply relative w-full;
}
.login-container .login-form .login-form-group input {
  @apply box-border rounded-[10px] px-5 py-[13px] text-sm font-medium text-[color:var(--text)] transition-[linear] duration-[0.2s] focus:border focus:border-solid focus:border-[color:var(--primary-color)];
  background: transparent;
  border: var(--border-input);
}
.login-container .login-form .login-form-group input:focus {
  outline: none;
}
.login-container
  .login-form
  .login-form-group
  input::-webkit-input-placeholder {
  @apply text-sm font-light text-[color:var(--placeholder)];
}
.login-container .login-form .login-form-group .login-input-group input {
  @apply w-full;
}
.login-container
  .login-form
  .login-form-group
  .login-input-group
  .password-input {
  @apply py-[13px] pl-5 pr-10;
}
.login-container .login-form .login-form-group .login-input-group .eye-icon {
  @apply absolute right-5 top-2/4 -translate-y-2/4;
}
.login-container .login-form .login-form-group.single-row {
  @apply flex-row pt-[5px];

  /* justify-content: space-between; */
  justify-content: right;
}

/* custom checkbox */
.login-container .login-form .custom-check input[type='checkbox'] {
  @apply relative m-0 mr-2.5 h-[23px] w-[23px] cursor-pointer appearance-none rounded-[3px] border-2 border-solid border-[color:var(--primary-color)] p-0 opacity-100;
  background: var(--white);
}
.login-container .login-form .custom-check input[type='checkbox']:checked {
  @apply border-2 border-solid border-[color:var(--primary-color)];
  background: var(--primary-color);
}
.login-container
  .login-form
  .custom-check
  input[type='checkbox']:checked:before,
.login-container
  .login-form
  .custom-check
  input[type='checkbox']:checked:after {
  @apply absolute h-0.5 content-[''];
  background: var(--white);
}
.login-container
  .login-form
  .custom-check
  input[type='checkbox']:checked:before {
  @apply left-0.5 top-[11px] w-2 rotate-[44deg];
}
.login-container
  .login-form
  .custom-check
  input[type='checkbox']:checked:after {
  @apply left-[5px] top-2 w-3.5 rotate-[-55deg];
}
.login-container .login-form .custom-check input[type='checkbox']:focus {
  outline: none;
}
.login-container .login-form .custom-check {
  @apply flex items-center justify-center;
}
.login-container .login-form .custom-check label {
  @apply m-0 cursor-pointer text-sm font-medium text-[color:var(--text)];
}
.login-container .login-form .link {
  @apply text-sm font-semibold text-[color:var(--primary-color)] no-underline hover:cursor-pointer hover:underline;
}
.login-container .login-form .login-cta {
  @apply mx-0 mt-[25px] mb-[35px] cursor-pointer border border-solid border-[color:var(--primary-color)] text-[color:var(--white)] no-underline;
  background: var(--primary-color);
}
.login-container .login-form .login-cta:hover {
  background: var(--btn-hover);
}
.login-container .onboarding {
  @apply hidden w-6/12 flex-[1] md:flex;
  background: var(--background-panel);
  border-left: var(--border);
}
.login-container .login-form .login-form-group label .required-star {
  @apply text-lg leading-[10px] text-[color:var(--primary-color)];
}
.login-container .rounded-button {
  @apply flex w-full items-center justify-center rounded-[10px] px-5 py-[13px] text-sm font-medium;
}
.login-container .body-text {
  @apply text-sm font-medium text-[color:var(--text)];
}
.login-container .onboarding .swiper-container {
  @apply mx-auto h-full w-full;
}
.login-container .onboarding .swiper-slide {
  @apply flex flex-col items-center justify-center text-center text-lg font-normal text-[color:var(--text)];

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.login-container .onboarding .swiper-pagination-bullet-active {
  @apply bg-[color:var(--primary-color)];
}
.login-container .onboarding .swiper-slide .slide-image img,
.login-container .onboarding .swiper-slide .slide-image svg {
  @apply h-full max-h-[80%] w-full max-w-full object-contain;
}
.login-container .onboarding .slide-content {
  @apply w-3/5;
}
.login-container .onboarding .slide-content h2 {
  @apply mb-[15px] text-[22px] font-medium;
}
.login-container .onboarding .slide-content p {
  @apply text-base font-light leading-[22px];
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  @apply bottom-[30px];
}
.login-container .login-form .login-form-inner h1 {
  @apply mt-2.5 mb-5 text-[rgba(224,224,224,1)];
}
/* 
@media screen and (max-width: 767px) {
	.login-container {
		height: 100vh;
	}
} */
@media screen and (max-width: 768px) {
  .login-container .onboarding {
    @apply order-none;
  }
  .login-container .login-form {
    @apply order-1;
  }
  /* .login-container {
    @apply max-w-[calc(100%-20px)];
  } */
}
@media screen and (max-width: 420px) {
  .login-container .login-form {
    @apply p-5;
  }
  .login-container .login-form-group {
    @apply mb-4;
  }
}
