.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 260px;
  height: 100%;
  border-right: 1px solid rgba(42, 42, 42, var(--tw-bg-opacity));

  background: var(--background-view);

  transition: all 0.5s ease;
}
.sidebar.close {
  width: 65px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details .logo {
  /* font-size: 30px; */
  /* color: #fff; */
  height: 50px;
  min-width: 65px;
  max-width: 65px;
  /* text-align: center; */
  /* line-height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .logo-details .logo img {
  width: 50%;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease;
  white-space: nowrap;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: var(--background-action);
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  min-width: 65px;
  height: 50px;

  color: #fff;

  font-size: 15px;
  line-height: 50px;
  text-align: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  display: none;

  padding: 6px 6px 14px 80px;
  /* margin-top: -10px; */

  background: var(--background-action);

  user-select: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  padding: 7px 0;

  color: #fff;

  font-size: 15px;
  white-space: nowrap;

  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;

  display: block;

  min-height: 100%;
  margin-top: 0;
  padding: 5px 20px;

  opacity: 0;
  pointer-events: none;
  border-bottom-right-radius: 0.375rem;
  transition: all 0.3s ease;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;

  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  display: block;

  font-size: 15px;

  opacity: 1;
}

.sidebar .nav-links li .sub-menu.blank {
  padding: 5px 20px;

  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 260px;
  padding: 6px 0;

  background: var(--background-action);

  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 65px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  width: 52px;
  height: 52px;
  margin: 0 7px;

  background: var(--background-action);

  object-fit: cover;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;

  background: var(--background);
}

.sidebar.close .profile-details:hover img {
  background: var(--background-action);
}

.sidebar .profile-details .name-job {
  flex-flow: column;
  align-items: initial;

  max-width: 104px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;

  font-size: 17px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .job {
  font-size: 0.7rem;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 260px;
    height: 100%;

    transition: all 0.5s ease;
  }

  .sidebar.close {
    left: -65px;
    width: 65px;
  }

  .sidebar.close .nav-links li:hover .sub-menu {
    display: none;
  }
}
