.not-found {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}
.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995)
    forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 53.3980582524%;
  left: 56.640625%;
  font-size: 24px;
  filter: blur(0.02px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(2) {
  top: 4.884004884%;
  left: 83.4151128557%;
  font-size: 19px;
  filter: blur(0.04px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(3) {
  top: 76.0048721072%;
  left: 84.2311459354%;
  font-size: 21px;
  filter: blur(0.06px);
  animation: 37s float infinite;
}
.particle:nth-child(4) {
  top: 91.6767189385%;
  left: 90.3790087464%;
  font-size: 29px;
  filter: blur(0.08px);
  animation: 29s float infinite;
}
.particle:nth-child(5) {
  top: 1.9488428745%;
  left: 40.1567091087%;
  font-size: 21px;
  filter: blur(0.1px);
  animation: 31s float2 infinite;
}
.particle:nth-child(6) {
  top: 29.304029304%;
  left: 30.4219823356%;
  font-size: 19px;
  filter: blur(0.12px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(7) {
  top: 27.417380661%;
  left: 14.7492625369%;
  font-size: 17px;
  filter: blur(0.14px);
  animation: 40s float infinite;
}
.particle:nth-child(8) {
  top: 58.3941605839%;
  left: 26.4187866928%;
  font-size: 22px;
  filter: blur(0.16px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(9) {
  top: 65.8476658477%;
  left: 20.7100591716%;
  font-size: 14px;
  filter: blur(0.18px);
  animation: 27s float2 infinite;
}
.particle:nth-child(10) {
  top: 26.1185006046%;
  left: 96.3972736125%;
  font-size: 27px;
  filter: blur(0.2px);
  animation: 25s floatReverse infinite;
}
.particle:nth-child(11) {
  top: 93.7114673243%;
  left: 53.412462908%;
  font-size: 11px;
  filter: blur(0.22px);
  animation: 23s float infinite;
}
.particle:nth-child(12) {
  top: 71.7444717445%;
  left: 85.798816568%;
  font-size: 14px;
  filter: blur(0.24px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(13) {
  top: 42.3124231242%;
  left: 81.9348469891%;
  font-size: 13px;
  filter: blur(0.26px);
  animation: 36s float2 infinite;
}
.particle:nth-child(14) {
  top: 40.245398773%;
  left: 59.1133004926%;
  font-size: 15px;
  filter: blur(0.28px);
  animation: 40s float infinite;
}
.particle:nth-child(15) {
  top: 40.344403444%;
  left: 55.2813425469%;
  font-size: 13px;
  filter: blur(0.3px);
  animation: 35s float infinite;
}
.particle:nth-child(16) {
  top: 11.7936117936%;
  left: 30.5719921105%;
  font-size: 14px;
  filter: blur(0.32px);
  animation: 24s float2 infinite;
}
.particle:nth-child(17) {
  top: 66.9902912621%;
  left: 30.2734375%;
  font-size: 24px;
  filter: blur(0.34px);
  animation: 24s float2 infinite;
}
.particle:nth-child(18) {
  top: 81.5724815725%;
  left: 87.7712031558%;
  font-size: 14px;
  filter: blur(0.36px);
  animation: 28s float2 infinite;
}
.particle:nth-child(19) {
  top: 77.7642770352%;
  left: 7.8201368524%;
  font-size: 23px;
  filter: blur(0.38px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(20) {
  top: 46.6019417476%;
  left: 90.8203125%;
  font-size: 24px;
  filter: blur(0.4px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(21) {
  top: 3.9263803681%;
  left: 88.6699507389%;
  font-size: 15px;
  filter: blur(0.42px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(22) {
  top: 56.038647343%;
  left: 97.2762645914%;
  font-size: 28px;
  filter: blur(0.44px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(23) {
  top: 94.6979038224%;
  left: 88.0316518299%;
  font-size: 11px;
  filter: blur(0.46px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(24) {
  top: 81.7518248175%;
  left: 71.4285714286%;
  font-size: 22px;
  filter: blur(0.48px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(25) {
  top: 97.205346294%;
  left: 50.8308895406%;
  font-size: 23px;
  filter: blur(0.5px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(26) {
  top: 71.4113389626%;
  left: 22.351797862%;
  font-size: 29px;
  filter: blur(0.52px);
  animation: 23s float2 infinite;
}
.particle:nth-child(27) {
  top: 85.8866103739%;
  left: 91.3508260447%;
  font-size: 29px;
  filter: blur(0.54px);
  animation: 37s float infinite;
}
.particle:nth-child(28) {
  top: 45.7420924574%;
  left: 65.5577299413%;
  font-size: 22px;
  filter: blur(0.56px);
  animation: 32s float2 infinite;
}
.particle:nth-child(29) {
  top: 28.0193236715%;
  left: 55.4474708171%;
  font-size: 28px;
  filter: blur(0.58px);
  animation: 38s float infinite;
}
.particle:nth-child(30) {
  top: 51.2315270936%;
  left: 36.5612648221%;
  font-size: 12px;
  filter: blur(0.6px);
  animation: 28s float2 infinite;
}
.particle:nth-child(31) {
  top: 86.6180048662%;
  left: 68.4931506849%;
  font-size: 22px;
  filter: blur(0.62px);
  animation: 27s floatReverse2 infinite;
}
.particle:nth-child(32) {
  top: 84.5686512758%;
  left: 86.0215053763%;
  font-size: 23px;
  filter: blur(0.64px);
  animation: 34s float infinite;
}
.particle:nth-child(33) {
  top: 12.6520681265%;
  left: 94.9119373777%;
  font-size: 22px;
  filter: blur(0.66px);
  animation: 36s float infinite;
}
.particle:nth-child(34) {
  top: 63.7254901961%;
  left: 30.5118110236%;
  font-size: 16px;
  filter: blur(0.68px);
  animation: 39s float infinite;
}
.particle:nth-child(35) {
  top: 61.0169491525%;
  left: 7.7972709552%;
  font-size: 26px;
  filter: blur(0.7px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(36) {
  top: 71.0234278668%;
  left: 70.2274975272%;
  font-size: 11px;
  filter: blur(0.72px);
  animation: 38s float infinite;
}
.particle:nth-child(37) {
  top: 60.7961399276%;
  left: 41.788143829%;
  font-size: 29px;
  filter: blur(0.74px);
  animation: 26s float2 infinite;
}
.particle:nth-child(38) {
  top: 91.1764705882%;
  left: 50.1968503937%;
  font-size: 16px;
  filter: blur(0.76px);
  animation: 32s float2 infinite;
}
.particle:nth-child(39) {
  top: 43.0317848411%;
  left: 36.3457760314%;
  font-size: 18px;
  filter: blur(0.78px);
  animation: 34s float2 infinite;
}
.particle:nth-child(40) {
  top: 38.4236453202%;
  left: 53.3596837945%;
  font-size: 12px;
  filter: blur(0.8px);
  animation: 35s float infinite;
}
.particle:nth-child(41) {
  top: 97.205346294%;
  left: 82.1114369501%;
  font-size: 23px;
  filter: blur(0.82px);
  animation: 26s float infinite;
}
.particle:nth-child(42) {
  top: 18.5819070905%;
  left: 66.7976424361%;
  font-size: 18px;
  filter: blur(0.84px);
  animation: 33s float infinite;
}
.particle:nth-child(43) {
  top: 70.243902439%;
  left: 95.0980392157%;
  font-size: 20px;
  filter: blur(0.86px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(44) {
  top: 4.8192771084%;
  left: 89.3203883495%;
  font-size: 30px;
  filter: blur(0.88px);
  animation: 23s floatReverse infinite;
}
.particle:nth-child(45) {
  top: 48.309178744%;
  left: 4.8638132296%;
  font-size: 28px;
  filter: blur(0.9px);
  animation: 23s float infinite;
}
.particle:nth-child(46) {
  top: 72.6392251816%;
  left: 46.783625731%;
  font-size: 26px;
  filter: blur(0.92px);
  animation: 23s floatReverse infinite;
}
.particle:nth-child(47) {
  top: 82.2249093108%;
  left: 66.2122687439%;
  font-size: 27px;
  filter: blur(0.94px);
  animation: 21s float2 infinite;
}
.particle:nth-child(48) {
  top: 64.656212304%;
  left: 5.8309037901%;
  font-size: 29px;
  filter: blur(0.96px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(49) {
  top: 13.6087484812%;
  left: 42.0332355816%;
  font-size: 23px;
  filter: blur(0.98px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(50) {
  top: 79.8053527981%;
  left: 6.8493150685%;
  font-size: 22px;
  filter: blur(1px);
  animation: 24s float infinite;
}
.particle:nth-child(51) {
  top: 64.1183723798%;
  left: 98.9119683482%;
  font-size: 11px;
  filter: blur(1.02px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(52) {
  top: 77.9284833539%;
  left: 63.3036597428%;
  font-size: 11px;
  filter: blur(1.04px);
  animation: 23s float2 infinite;
}
.particle:nth-child(53) {
  top: 27.2838002436%;
  left: 3.9177277179%;
  font-size: 21px;
  filter: blur(1.06px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(54) {
  top: 94.0024479804%;
  left: 30.4818092429%;
  font-size: 17px;
  filter: blur(1.08px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(55) {
  top: 17.6470588235%;
  left: 47.2440944882%;
  font-size: 16px;
  filter: blur(1.1px);
  animation: 22s floatReverse2 infinite;
}
.particle:nth-child(56) {
  top: 20.5378973105%;
  left: 67.7799607073%;
  font-size: 18px;
  filter: blur(1.12px);
  animation: 39s float2 infinite;
}
.particle:nth-child(57) {
  top: 58.6080586081%;
  left: 49.0677134446%;
  font-size: 19px;
  filter: blur(1.14px);
  animation: 31s floatReverse infinite;
}
.particle:nth-child(58) {
  top: 18.313253012%;
  left: 12.6213592233%;
  font-size: 30px;
  filter: blur(1.16px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(59) {
  top: 29.520295203%;
  left: 10.8588351431%;
  font-size: 13px;
  filter: blur(1.18px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(60) {
  top: 18.3353437877%;
  left: 37.9008746356%;
  font-size: 29px;
  filter: blur(1.2px);
  animation: 33s float2 infinite;
}
.particle:nth-child(61) {
  top: 25.304136253%;
  left: 72.4070450098%;
  font-size: 22px;
  filter: blur(1.22px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(62) {
  top: 86.7469879518%;
  left: 15.5339805825%;
  font-size: 30px;
  filter: blur(1.24px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(63) {
  top: 31.1057108141%;
  left: 22.4828934506%;
  font-size: 23px;
  filter: blur(1.26px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(64) {
  top: 85.6447688564%;
  left: 16.6340508806%;
  font-size: 22px;
  filter: blur(1.28px);
  animation: 27s floatReverse2 infinite;
}
.particle:nth-child(65) {
  top: 16.7487684729%;
  left: 39.5256916996%;
  font-size: 12px;
  filter: blur(1.3px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(66) {
  top: 59.5848595849%;
  left: 89.3032384691%;
  font-size: 19px;
  filter: blur(1.32px);
  animation: 38s float2 infinite;
}
.particle:nth-child(67) {
  top: 8.7378640777%;
  left: 75.1953125%;
  font-size: 24px;
  filter: blur(1.34px);
  animation: 32s float2 infinite;
}
.particle:nth-child(68) {
  top: 32.1167883212%;
  left: 21.5264187867%;
  font-size: 22px;
  filter: blur(1.36px);
  animation: 22s float2 infinite;
}
.particle:nth-child(69) {
  top: 74.9691738594%;
  left: 12.8585558853%;
  font-size: 11px;
  filter: blur(1.38px);
  animation: 32s float infinite;
}
.particle:nth-child(70) {
  top: 18.4242424242%;
  left: 95.6097560976%;
  font-size: 25px;
  filter: blur(1.4px);
  animation: 22s float2 infinite;
}
.particle:nth-child(71) {
  top: 5.8608058608%;
  left: 46.1236506379%;
  font-size: 19px;
  filter: blur(1.42px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(72) {
  top: 24.2130750605%;
  left: 69.2007797271%;
  font-size: 26px;
  filter: blur(1.44px);
  animation: 32s float infinite;
}
.particle:nth-child(73) {
  top: 90.9535452323%;
  left: 82.5147347741%;
  font-size: 18px;
  filter: blur(1.46px);
  animation: 38s float2 infinite;
}
.particle:nth-child(74) {
  top: 62.2871046229%;
  left: 69.4716242661%;
  font-size: 22px;
  filter: blur(1.48px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(75) {
  top: 83.698296837%;
  left: 43.0528375734%;
  font-size: 22px;
  filter: blur(1.5px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(76) {
  top: 18.5819070905%;
  left: 43.2220039293%;
  font-size: 18px;
  filter: blur(1.52px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(77) {
  top: 89.6385542169%;
  left: 42.7184466019%;
  font-size: 30px;
  filter: blur(1.54px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(78) {
  top: 23.6162361624%;
  left: 94.7680157947%;
  font-size: 13px;
  filter: blur(1.56px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(79) {
  top: 74.5762711864%;
  left: 12.6705653021%;
  font-size: 26px;
  filter: blur(1.58px);
  animation: 30s float infinite;
}
.particle:nth-child(80) {
  top: 13.7423312883%;
  left: 46.3054187192%;
  font-size: 15px;
  filter: blur(1.6px);
  animation: 25s floatReverse2 infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}
